<div class="container prof-lh-likes p-3 mb-1 mt-3 carousel-bdr">
    <form action="/login" method="POST">
  
    <div class="row">
      <div class="col-6 my-auto align-items-start">
        <h2>Log In</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-4 col-sm-2 my-auto">
        <label for="username-input"><b>Username:</b></label>
      </div>
      <div class="col-8 col-sm-10 my-auto">
        <input class="form-control" id="username-input" type="text" name="username" placeholder="Your username" />
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-sm-2 my-auto">
        <label for="password-input" ><b>Password</b></label>
      </div>
      <div class="col-8 col-sm-10 my-auto">
          <input class="form-control" id="password-input" type="password" name="password" placeholder="Your password" />
      </div>
    </div>

    <div class="row">
      <div class="col my-auto text-center">
          <button type="submit" class="btn">Log In</button>
      </div>
    </div>

        {{#if errorMessage}}
          <p class="warning carousel-bdr mt-3">{{errorMessage}}</p>
        {{/if}}

  </form>
</div>