
    <h2 class="error handling">Unfortunately something went wrong</h2>
{{#if error}}
    <h2 class="error-handling">sorry {{capitalize userDetails.username}}. {{#with error}}{{message}}{{/with}}</h2>


    
{{/if}} 



