<h1>{{appTitle}} 🚀</h1>
{{#if userInSession}}
    <p>Welcome {{userInSession.username}}</p>
{{else}}
    <p>Welcome Ironhacker!</p>
{{/if}}
<!-- To do: remove above and show carousel of 3 random lifehacks? -->