
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
html {
  padding: 30px 20px;
}

body {
  padding: 30px 20px;
  font: 14px "Quicksand", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#7e7d7d48;
}

a:link, a:active, a:visited {
  color: #0277a6;
}

a:hover {
  color: #00b7ff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #0277a6;
}

.grey {
  color: #333;
}

/**** Carousel ****/
.carousel-bdr {
  box-shadow: rgba(0, 0, 0, .6) 0 10px 15px;
}
.carousel-bdr img {
  border-radius: 10px;
  border: 3px solid #ffffff;
  overflow: hidden;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  width: 100% !important;
  max-height: 520px !important;
  object-fit: cover;
}
@media screen and (max-width: 450px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    width: 100% !important;
    max-height: 200px !important;
    object-fit: cover;
  }
}

.carousel-caption {
  background-color: rgb(43, 43, 43); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .8) 10px 10px 15px;
}

.carousel-ctrl-bg {
  background-color: #ffffff; /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  border-radius: 10px;
}

/**** GENERAL LAYOUT ****/
.btn {
  display: inline-block;
  background-image: linear-gradient(#00b7ff, #0277a6);
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: .9em;
  margin: 5px 0;
  padding: 5px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
a.btn {
  color: #fff
}

a.btn:hover, .btn:hover {
  color: #fff !important;
  background-image: linear-gradient(#0598d3, #046085);
}

.edit {
  color: #fff !important;
  background-image: linear-gradient(#04c547, #039327);
}

a.edit:hover, .edit:hover {
  color: #fff !important;
  background-image: linear-gradient(#04a33b, #027a20);
}

a.logout:link, a.logout:visited, a.logout:active {
  display: block;
  color: #fff !important;
  font-size: 1em;
  align-self: center;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, .3) 0 1px 5px;
  background-image: linear-gradient(#c50404, #930303);
}

a.logout:hover {
  color: #fff !important;
  background-image: linear-gradient(#a80303, #790303);
}

.delete {
  color: #fff !important;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: .9em;
  margin: 5px 0;
  padding: 5px 15px;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  background-image: linear-gradient(#c50404, #930303);
}

.delete:hover {
  color: #fff !important;
  background-image: linear-gradient(#a80303, #790303);
}

.edit2 {
  color: #fff !important;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: .9em;
  margin: 5px 0;
  padding: 5px 15px;
  text-align: center;
  align-self: center;
  margin-top: 0px;
  background-image: linear-gradient(#04c547, #039327);
}

a.edit2:hover, .edit2:hover {
  color: #fff !important;
  background-image: linear-gradient(#04a33b, #027a20);
}

a.tags {
  color: #333;
  padding: 5px 0 0 0;
}

button.likes {
  background: url('https://res.cloudinary.com/dsw3axyzs/image/upload/v1673276082/love_ktn7fv.png') center no-repeat;
  background-size: contain;
  color: transparent;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}

button.likes:hover {
  background-color: transparent;
  border: none;
  outline: none;
}

.likes .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

.likes .badge2 {
  position: absolute;
  top: 20px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #ff00005d;
  color: white;
}

.btm-lh-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

.btm-item {
  align-items: stretch;
}

.align-r {
  text-align: right;
}

.lh-list-img {
  max-width: fit-content;
  max-height: min-content;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-tag {
  padding: 0 0 0 1.25rem;
}

/**** PROFILE *****/
.all-lh-profile {  
  background-color: rgba(126, 125, 125, 0.281);
}

.lh-container-profile {  
  display: flex;
  
}

.link-container {
  display: flex;
  flex-direction: row;
  margin:0.5rem;
  align-items: center;
  height: 50px;
  
}

.image-lh-profile-container {
  width:50px;
  height:50px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
}

.img-lh-profile {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.title-lh-profile-container {
  margin-left: 1rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.btn-profile-container{
  display: flex;
  align-items: center;
}


.prof-lh-likes {
  background-color: #7e7d7d48;
  border-radius: 10px;
  flex-direction: row;
}

.thumb-img {
  object-fit: cover;
  overflow: hidden;
  height: 12vh; 
  width : 12vw;
}

img.thumb-img {
  border-radius: 7px;
  border: 2px solid #0598d3;
}
.prof-lh-likes-col {
  justify-content: space-between;
  align-items: center !important;
}

/***** vvv FORM CSS vvv *****/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/***** vvv FOR 'WARNING' Bubble vvv *****/
/* BOX */
.warning {
  color: #fff;
  background: #be3712;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  clear: all;
}
.warning2 {
  color: #fff;
  background: #be3712;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  clear: all;
}

/* Different Warning tail positions */
.warning::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
}

/* BOTTOM */
.warning.bottom::after {
  border-top-color: #be3712;
  border-bottom: 0;
  bottom: -20px; left: 50%;
  margin-left: -20px;
}
/* TOP */
.warning.top::after {
  border-bottom-color: #be3712;
  border-top: 0;
  top: -20px; left: 50%;
  margin-left: -20px;
}
 
/* LEFT */
.left.warning::after {
  border-right-color: #be3712;
  border-left: 0;
  left: -20px; top: 50%;
  margin-top: -20px;
}
 
/* RIGHT */
.warning.right::after {
  border-left-color: #be3712;
  border-right: 0;
  right: -20px; top: 50%;
  margin-top: -20px;
}

/***** vvv FOR 'Comments' Bubble vvv *****/
/* BOX */
.comment-author {
  color: rgb(255, 255, 255);
  background: #93030367;
  position: relative;
  /* padding: 10px 10px 0 10px; */
  border-radius: 6px;
  max-width: fit-content;
  clear: all;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  z-index: -1;
} 
.comment-author::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
}
.comment {
  color: #222;
  background: #ffffff;
  position: relative;
  padding: 10px 10px 0 10px;
  border-radius: 6px;
  max-width: 100%;
  clear: all;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
}
@media (max-width: 600px) {
  .comment {
    max-width: 65%;
  }
}

/* Different Warning tail positions */
.comment::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
}

/* BOTTOM */
.comment.bottom::after {
  border-top-color: #ffffff;
  border-bottom: 0;
  bottom: -20px; left: 50%;
  margin-left: -20px;
}
/* TOP */
.comment.top::after {
  border-bottom-color: #ffffff;
  border-top: 0;
  top: -20px; left: 50%;
  margin-left: -20px;
}
 
/* LEFT */
.comment.left::after {
  border-right-color: #ffffff;
  border-left: 0;
  left: -20px; top: 50%;
  margin-top: -20px;
}
 
/* RIGHT */
.comment.right::after {
  border-left-color: #ffffff;
  border-right: 0;
  right: -20px; top: 50%;
  margin-top: -20px;
}

/***** vvv FOR TESTING PURPOSES vvv *****/
.orange {
  border: 1px solid #ff9900 !important;
}

.green {
  border: 1px solid #99ff00 !important;
}

.blue {
  border: 1px solid #0099ff !important;
}



/* javascript elements */
#loading{
  position: fixed;
  height: 100px;
  width: 100px;

  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-image:url(../images/utils/loading.gif); 
  background-size: contain;
  z-index: 5;
}

/***** VVV Lifehack team *****/
.justin {
  color: #fff !important;
  background-image: linear-gradient(#04c547, #039327);
}
.judy {
  color: #fff !important;
  background-image: linear-gradient(#960eeb, #7d0393);
}
.john {
  color: #fff !important;
  background-image: linear-gradient(#0eb8eb, #034493);
}