<h2>Lifehacks list</h2>
{{#each lifehacksArray}}
    <div>
        <h2>{{this.title}}</h2>
        //show the tags       
        <p>{{this.description}}</p>
        <h3>multimedia: {{this.embedMultimedia}}</h3>

    </div>
<hr>
{{/each}}