<h2>Create a new lifehack</h2>

<form action="/lifehacks/create" method="post" enctype="multipart/form-data">
    <label>Title:
        <input type="text" name="title" required>
    </label>
    <label>Description:
        <textarea name="description" cols="30" rows="4" required></textarea>
    </label>
    <hr>
    {{!-- bonus let the user put more than one url --}}
    <div>
        <label>Image url:
            <input type="url" name="embedMultimedia">
        </label>
        <label> Or upload an image:
            <input type="file" name="image01">
            "Accepted file extensions: JPG, PNG."
        </label>
    
    </div>
    <hr>
    <div>
        {{!-- <label>Youtube/cloudinary url:
            <input type="url" name="videoUrl">
        </label> --}}
        <label>Upload a video:
            <input type="file" name="video01">
            "Accepted video file extensions: MP4, WEBM."
        </label>
    
    </div>


    

    <select name="tags"  multiple>
        {{#each tagsArray }}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <button id="create" type="submit">Create</button>
</form>

<div id="loading" hidden></div>

