{{!-- views/tags/tag-create.hbs --}}

<div class="container prof-lh-likes p-3 mb-1">
  <form id="form-lh" action="/tags/{{tagDetails._id}}/edit" method="post" enctype="multipart/form-data">
    
    <div class="row">
      <div class="col-6 my-auto align-items-start">
        <h2>Create a Tag</h2>
      </div>
      <div class="col my-auto align-l">
        {{#if warning}}
          <p class="warning bottom">{{warning}}</p>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-2 my-auto">
        <label for="name"> Name:</label>
      </div>
      <div class="col my-auto">
        <input type="text" name="name" value="" />
      </div>
    </div>

    <div class="row">
      <div class="col-2 my-auto">
        <label for="image"> Image:</label>
      </div>
      <div class="col my-auto">
        <input type="file" name="img" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm my-auto align-r">&nbsp;</div>
      <div class="col-sm-2 my-auto align-r">
        <button  id="create" type="submit" class="btn edit">Edit</button>
        <a href="/tags" class="btn cancel">Cancel</a>
      </div>
    </div>
     
  </form>
</div>